@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* 공통 */
* {
	font-family: 'Galmuri9 ' !important;
}
a {
	color: black;
	text-decoration: none;
	font-weight: normal;
}

/* 방 */
.illust {
	width : 80%;
	height: 70%;
	min-height: 600px;
	float:left;
	background-color: powderblue;
}

.otherRoom {
	min-height: 300px;
	float:left;
	width:20%;
	height: 35%;
	background-color: peachpuff;
}

.chat{	
	min-height: 300px;
	float:right;
	width:20%;
	height: 35%;
	background-color: gray;

}

.clear {
	clear:both;
}

.loginbtn:hover {
	cursor: pointer;
}

input[type=text] {
	background-color: transparent !important;
	border-color: transparent !important; 
}

input[type=password] {
	background-color: transparent !important;
	border-color: transparent !important; 
}


.input_box {
	background-color: transparent !important;
	border-color: transparent !important;
	z-index: 20;
}

.input_box:hover {
	cursor: text;
}